$main-bg: linear-gradient(180deg, #000a1f 0%, #000c2f 100%);
$main-color: #4267b2;
$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;
$btn-main-bg: $main-color;
$btn-main-color: #fff;
$header-height: 170px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;
$colors: (
  'blue': #4267b2,
  'orange': #fbb96b,
  'pink': #fe7e73,
  'white': #fff,
  'black': #000,
  'main': $main-color,
  'red': #ff0000
);
$mobile-width: 600px;
$tablet-width: 1024px;
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$font-family: 'M PLUS 2', sans-serif;
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$border-radius-4: 4px;
